@inherits System.Web.Mvc.WebViewPage
@using EGT_OTA.Models
<div>
    <div class="el-card__header">
        <div class="clearfix">
            <p>文章列表(@(ViewBag.RecordCount))</p>
            <div class="el-form-item inline fl">
                <div class="el-form-item__content">
                    <div class="el-input el-input--small">
                        <input id="title" placeholder="文章标题" size="small" type="text" class="el-input__inner" value="@(ViewBag.title)">
                    </div>
                </div>
            </div>
            <div class="el-form-item inline fl ml15">
                <div class="el-form-item__content">
                    <div class="el-input el-input--small">
                        <input id="articlenumber" placeholder="文章编号" size="small" type="text" class="el-input__inner" value="@(ViewBag.articlenumber)">
                    </div>
                </div>
            </div>
            <div class="el-form-item inline fl ml15">
                <div class="el-form-item__content">
                    <div class="el-input el-input--small">
                        <input id="usernumber" placeholder="用户编号" size="small" type="text" class="el-input__inner" value="@(ViewBag.usernumber)">
                    </div>
                </div>
            </div>

            <div class="el-form-item inline fl ml15">
                <label class="el-form-item__label">文章状态</label>
                <div class="el-form-item__content inline fl">
                    <div class="btn-group">
                        <button id="status" index="-1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width: 160px;">
                            不限
                                                  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu tc">
                            <li><a href="#" onclick="change(-1,'status','不限')" class="ddl_status" index="-1">不限</a></li>
                            <li><a href="#" onclick="change(0,'status','待审核')" class="ddl_status" index="0">待审核</a></li>
                            <li><a href="#" onclick="change(1,'status','已审核')" class="ddl_status" index="1">已审核</a></li>
                            <li><a href="#" onclick="change(2,'status','已删除')" class="ddl_status" index="2">已删除</a></li>
                            <li><a href="#" onclick="change(3,'status','彻底删除')" class="ddl_status" index="3">彻底删除</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="el-form-item inline fl ml15">
                <label class="el-form-item__label">投稿状态</label>
                <div class="el-form-item__content inline fl">
                    <div class="btn-group">
                        <button type="button" id="submission" index="-1" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width: 160px;">
                            不限
                                                  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu tc">
                            <li><a href="#" onclick="change(-1,'submission','不限')" class="ddl_submission" index="-1">不限</a></li>
                            <li><a href="#" onclick="change(0,'submission','未提交')" class="ddl_submission" index="0">未提交</a></li>
                            <li><a href="#" onclick="change(1,'submission','待审核')" class="ddl_submission" index="1">待审核</a></li>
                            <li><a href="#" onclick="change(2,'submission','已审核')" class="ddl_submission" index="2">已审核</a></li>
                            <li><a href="#" onclick="change(100,'submission','临时审核')" class="ddl_submission" index="100">临时审核</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="el-form-item inline fl ml15">
                <label class="el-form-item__label">推荐状态</label>
                <div class="el-form-item__content inline fl">
                    <div class="btn-group">
                        <button type="button" id="recommend" index="-1" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width: 160px;">
                            不限
                                                  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu tc">
                            <li><a href="#" onclick="change(-1,'recommend','不限')" class="ddl_recommend" index="-1">不限</a></li>
                            <li><a href="#" onclick="change(98,'recommend','推荐')" class="ddl_recommend" index="98">推荐</a></li>
                            <li><a href="#" onclick="change(99,'recommend','置顶')" class="ddl_recommend" index="99">置顶</a></li>
                            <li><a href="#" onclick="change(100,'recommend','系统消息')" class="ddl_recommend" index="100">系统消息</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="el-form-item inline fl ml15">
                <label class="el-form-item__label">权限</label>
                <div class="el-form-item__content inline fl">
                    <div class="btn-group">
                        <button id="articlepower" index="-1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width: 160px;">
                            不限
                                                  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu tc">
                            <li><a href="#" onclick="change(-1,'articlepower','不限')" class="ddl_articlepower" index="-1">不限</a></li>
                            <li><a href="#" onclick="change(3,'articlepower','公开')" class="ddl_articlepower" index="3">公开</a></li>
                            <li><a href="#" onclick="change(2,'articlepower','限制可见')" class="ddl_articlepower" index="2">限制可见</a></li>
                            <li><a href="#" onclick="change(1,'articlepower','密码可见')" class="ddl_articlepower" index="1">密码可见</a></li>
                            <li><a href="#" onclick="change(0,'articlepower','私密')" class="ddl_articlepower" index="1">私密</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="el-form-item fl ml15">
                <label class="el-form-item__label">分类</label>
                <div class="el-form-item__content inline fl">
                    <div class="btn-group">
                        <button id="filter_articletype" index="-1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width: 160px;">
                            不限
                                                  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu tc">
                            <li><a href="#" onclick="change(-1,'filter_articletype','不限')" class="ddl_filter_articletype" index="-1">不限</a></li>
                            <li><a href="#" onclick="change(1,'filter_articletype','旅游')" class="ddl_filter_articletype" index="1">旅游</a></li>
                            <li><a href="#" onclick="change(2,'filter_articletype','美食')" class="ddl_filter_articletype" index="2">美食</a></li>
                            <li><a href="#" onclick="change(3,'filter_articletype','亲子')" class="ddl_filter_articletype" index="3">亲子</a></li>
                            <li><a href="#" onclick="change(4,'filter_articletype','美妆')" class="ddl_filter_articletype" index="4">美妆</a></li>
                            <li><a href="#" onclick="change(5,'filter_articletype','女神')" class="ddl_filter_articletype" index="5">女神</a></li>
                            <li><a href="#" onclick="change(6,'filter_articletype','摄影')" class="ddl_filter_articletype" index="6">摄影</a></li>
                            <li><a href="#" onclick="change(7,'filter_articletype','生活')" class="ddl_filter_articletype" index="7">生活</a></li>
                            <li><a href="#" onclick="change(8,'filter_articletype','萌宠')" class="ddl_filter_articletype" index="8">萌宠</a></li>
                            <li><a href="#" onclick="change(9,'filter_articletype','游戏')" class="ddl_filter_articletype" index="9">游戏</a></li>
                            <li><a href="#" onclick="change(10,'filter_articletype','二次元')" class="ddl_filter_articletype" index="10">二次元</a></li>
                            <li><a href="#" onclick="change(0,'filter_articletype','其他')" class="ddl_filter_articletype" index="0">其他</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="full fl">
                <button type="button" class="el-button el-button--primary" id="search"><span>查询</span></button>
                <button type="button" class="el-button el-button--default" id="reset"><span>重置</span></button>
            </div>
        </div>
    </div>
    <div class="el-card__body">
        <div class="el-table el-table--fit el-table--border el-table--enable-row-hover el-table--enable-row-transition full f12 tc" style="overflow: auto;">
            <table cellspacing="0" cellpadding="0" border="0" class="el-table__header el-table__body full">
                <thead>
                    <tr>
                        <th class="cell" style="width: 100px;">用户头像</th>
                        <th class="cell" style="width: 150px;">用户昵称(编号)</th>
                        <th class="cell" style="width: 250px;">标题(编号)</th>
                        <th class="cell" style="width: 80px;">分类</th>
                        <th class="cell" style="width: 80px;">浏览</th>
                        <th class="cell" style="width: 80px;">权限</th>
                        <th class="cell" style="width: 80px;">状态</th>
                        <th class="cell" style="width: 100px;">投稿</th>
                        <th class="cell" style="width: 250px;">定位</th>
                        <th class="cell" style="width: 160px;">创建日期</th>
                        <th class="cell" style="width: 400px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var list = ViewBag.List;
                        for (var i = 0; i < list.Count; i++)
                        {
                            var url = list[i].Avatar;
                            if (string.IsNullOrWhiteSpace(url))
                            {
                                url = "http://www.xiaoweipian.com/Images/avatar.png";
                            }
                            else
                            {
                                if (url.IndexOf("_0") >= 0)
                                {
                                    url = url.Replace("_0", "_2");
                                    if (url.ToLower().IndexOf("http://") < 0)
                                    {
                                        url = "http://www.xiaoweipian.com/" + url;
                                    }
                                }
                            }
                        <tr>
                            @{
                            var userlink = ViewBag.RootUrl + "Home/user.html?key=" + list[i].CreateUserNumber;
                            }
                            <td class="cell">
                                <a href="@userlink" class="underline" target="_blank">
                                    <img src="@url" style="width: 60px; height: 60px; border-radius:50px;margin:10px 0px;display: inline-block;"></a>
                            </td>
                            <td>
                                <div class="cell">
                                    <a href="@userlink" class="underline" target="_blank"><span class="nickname" nickname="@list[i].NickName"></span></a>
                                    <p class="mb0">(@list[i].CreateUserNumber)</p>
                                </div>
                            </td>
                            <td class="cell el-button--text">
                                @{
                            var link = ViewBag.RootUrl + "Home/preview.html?key=" + list[i].Number + "&xwp=" + ViewBag.xwp;
                                }
                                <a href="@link" class="underline" target="_blank">@(string.IsNullOrWhiteSpace(list[i].Title) ? "我的小微篇" : list[i].Title)</a>
                                <p class="mb0">(@list[i].Number)</p>
                            </td>
                            <td class="cell">
                                @list[i].TypeName
                            </td>
                            <td class="cell">
                                @list[i].Views
                            </td>
                            <td class="cell">
                                @EnumBase.GetDescription(typeof(Enum_ArticlePower), @list[i].ArticlePower)
                            </td>
                            <td class="cell">
                                @EnumBase.GetDescription(typeof(Enum_Status), @list[i].Status)
                            </td>
                            <td class="cell">
                                @EnumBase.GetDescription(typeof(Enum_Submission), @list[i].Submission)
                            </td>
                            <td class="cell">
                                @list[i].Province @list[i].City @list[i].District @list[i].Street @list[i].DetailName
                            </td>
                            <td class="cell">
                                @list[i].CreateDateText
                            </td>
                            <td>
                                <button type="button" class="el-button el-button--primary el-button--small btnRed" index="@list[i].CreateUserNumber" articleid="@list[i].ID"><span>打赏</span></button>
                                @if (list[i].Status == Enum_Deal.Approved)
                                {
                                    <button type="button" class="el-button el-button--warning el-button--small btnAudit" index="@list[i].ID"><span>取消审核</span></button>
                                }
                                @if (list[i].Recommend == Enum_ArticleRecommend.None && list[i].ArticlePower == Enum_ArticlePower.Public && list[i].Status == Enum_Status.Approved && (list[i].Submission == Enum_Submission.Approved || list[i].Submission == Enum_Submission.TemporaryApproved))
                                {
                                    <button type="button" class="el-button el-button--primary el-button--small btnRecommend" index="@list[i].ID" status="@Enum_ArticleRecommend.Top"><span>置顶</span></button>
                                    <button type="button" class="el-button el-button--primary el-button--small btnRecommend" index="@list[i].ID" status="@Enum_ArticleRecommend.Recommend"><span>推荐</span></button>
                                    <button type="button" class="el-button el-button--primary el-button--small btnRecommend" index="@list[i].ID" status="@Enum_ArticleRecommend.System"><span>系统消息</span></button>
                                }
                                @if (list[i].Recommend == Enum_ArticleRecommend.Top)
                                {
                                    <button type="button" class="el-button el-button--warning el-button--small btnRecommend" index="@list[i].ID" status="@Enum_ArticleRecommend.None"><span>取消置顶</span></button>
                                }
                                @if (list[i].Recommend == Enum_ArticleRecommend.Recommend)
                                {
                                    <button type="button" class="el-button el-button--warning el-button--small btnRecommend" index="@list[i].ID" status="@Enum_ArticleRecommend.None"><span>取消推荐</span></button>
                                }
                                @if ((list[i].Submission == Enum_Submission.Approved || list[i].Submission == Enum_Submission.TemporaryApproved) && list[i].ArticlePower == Enum_ArticlePower.Public && list[i].Status == Enum_Status.Approved)
                                {
                                    <button type="button" class="el-button el-button--success el-button--small btnEdit" index="@list[i].ID" typeid="@list[i].TypeID"><span>编辑</span></button>
                                }
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div id="divPager" align="center" style="margin-top: 30px;"></div>
    </div>
    <div class="el-form-item fl" id="type" style="display: none; padding: 20px; width: 100%; height: 100%; position: relative;">
        <label class="el-form-item__label">分类</label>
        <div class="el-form-item__content inline fl">
            <div class="btn-group">
                <button id="articletype" articleid="0" index="0" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width: 160px;">
                    其他
                                                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu tc">
                    <li><a href="#" onclick="change(1,'articletype','旅游')" class="ddl_articletype" index="1">旅游</a></li>
                    <li><a href="#" onclick="change(2,'articletype','美食')" class="ddl_articletype" index="2">美食</a></li>
                    <li><a href="#" onclick="change(3,'articletype','亲子')" class="ddl_articletype" index="3">亲子</a></li>
                    <li><a href="#" onclick="change(4,'articletype','美妆')" class="ddl_articletype" index="4">美妆</a></li>
                    <li><a href="#" onclick="change(5,'articletype','女神')" class="ddl_articletype" index="5">女神</a></li>
                    <li><a href="#" onclick="change(6,'articletype','摄影')" class="ddl_articletype" index="6">摄影</a></li>
                    <li><a href="#" onclick="change(7,'articletype','生活')" class="ddl_articletype" index="7">生活</a></li>
                    <li><a href="#" onclick="change(8,'articletype','萌宠')" class="ddl_articletype" index="8">萌宠</a></li>
                    <li><a href="#" onclick="change(9,'articletype','游戏')" class="ddl_articletype" index="9">游戏</a></li>
                    <li><a href="#" onclick="change(10,'articletype','二次元')" class="ddl_articletype" index="10">二次元</a></li>
                </ul>
            </div>
        </div>
        <button type="button" class="el-button el-button--primary" id="edit" style="position: absolute; right: 20px; bottom: 20px;"><span>编辑</span></button>
    </div>
    <div class="el-form-item fl" id="red" style="display: none; padding: 20px; width: 100%; height: 100%; position: relative;">
        <label class="el-form-item__label">红包</label>
        <div class="el-form-item__content inline fl">
            <div class="btn-group">
                <div class="el-input el-input--small">
                    <input id="price" placeholder="红包金额" size="small" type="text" class="el-input__inner" value="0">
                </div>
            </div>
        </div>
        <p style="font-size: 11px; float: left; margin-top: 10px;">可自定义红包金额，最高5元，填0 随机生成0.1-5元红包</p>
        <button type="button" class="el-button el-button--primary" id="btnRed" style="position: absolute; right: 20px; bottom: 20px;"><span>打赏</span></button>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">

        var isloading = false;
        $(document).ready(function () {
            $(".ddl_status[index=" + parseInt(@(ViewBag.status)) + "]").eq(0).trigger("click");
            $(".ddl_submission[index=" + parseInt(@(ViewBag.submission)) + "]").eq(0).trigger("click");
            $(".ddl_articlepower[index=" + parseInt(@(ViewBag.articlepower)) + "]").eq(0).trigger("click");
            $(".ddl_recommend[index=" + parseInt(@(ViewBag.recommend)) + "]").eq(0).trigger("click");
            $(".ddl_filter_articletype[index=" + parseInt(@(ViewBag.articletype)) + "]").eq(0).trigger("click");

            var currentIndex = parseInt(@(ViewBag.CurrPage));
            var recordCount = parseInt(@(ViewBag.RecordCount));
            var pageSize = parseInt(@(ViewBag.PageSize));

            $(".nickname").each(function () {
                this.innerText = base.UnUnicodeText(this.getAttribute("nickname"));
            })

            $("#divPager").myPagination({
                currPage: currentIndex,
                pageCount: Math.ceil(recordCount / pageSize),
                pageSize: pageSize,
                links: 'javascript:void(0);',
                cssStyle: 'jogger',
                ajax: {
                    on: false,
                    onClick: function (page) {
                        ZENG.msgbox.show(" 正在加载" + page + "页，请稍后...", 6, 1000);
                        var param = {
                            page: page,
                            rows: pageSize,
                            title: $("#title").val().trim(),
                            articlenumber: $("#articlenumber").val().trim(),
                            usernumber: $("#usernumber").val().trim(),
                            status: $("#status").attr("index"),
                            submission: $("#submission").attr("index"),
                            recommend: $("#recommend").attr("index"),
                            articlepower: $("#articlepower").attr("index"),
                            articletype: $("#filter_articletype").attr("index")
                        }
                        window.location.href = "@(ViewBag.RootUrl)" + "Back/Article?key=@(ViewBag.key)&xwp=@(ViewBag.xwp)&" + $.param(param)
                    }
                }
            });

            $("#search").click(function () {
                var param = {
                    page: 1,
                    rows: pageSize,
                    title: $("#title").val().trim(),
                    articlenumber: $("#articlenumber").val().trim(),
                    usernumber: $("#usernumber").val().trim(),
                    status: $("#status").attr("index"),
                    submission: $("#submission").attr("index"),
                    recommend: $("#recommend").attr("index"),
                    articlepower: $("#articlepower").attr("index"),
                    articletype: $("#filter_articletype").attr("index")
                }
                window.location.href = "@(ViewBag.RootUrl)" + "Back/Article?key=@(ViewBag.key)&xwp=@(ViewBag.xwp)&" + $.param(param)
            })

            $("#reset").click(function () {
                window.location.href = "@(ViewBag.RootUrl)" + "Back/Article?key=@(ViewBag.key)&xwp=@(ViewBag.xwp)"
            })

            //取消审核
            $(".btnAudit").click(function () {
                if (isloading) {
                    return;
                }
                isloading = true;
                var id = this.getAttribute("index");

                layer.confirm('确认执行当前操作吗？', {
                    title: "取消审核",
                    btn: ['确定', '取消']
                }, function () {
                    $.ajax({
                        url: "@(ViewBag.RootUrl)Back/ArticleAudit",
                        data: { id: id },
                        dataType: "json",
                        success: function (data) {
                            isloading = false;
                            layer.alert(data.message);
                            if (data.result) {
                                window.location.reload();
                            }
                        }
                    });
                }, function () {

                });
                isloading = false;
            })

            //置顶、取消置顶、推荐、取消推荐
            $(".btnRecommend").click(function () {
                if (isloading) {
                    return;
                }
                isloading = true;
                var id = this.getAttribute("index");
                var status = parseInt(this.getAttribute("status"));
                var title = "";
                switch (status) {
                    case 98:
                        title = "推荐";
                        break;
                    case 99:
                        title = "置顶";
                        break;
                    case 100:
                        title = "系统消息";
                        break;
                    default:
                        title = "取消推荐";
                        break;
                }
                layer.confirm('确认执行当前操作吗？', {
                    title: title,
                    btn: ['确定', '取消']
                }, function () {
                    $.ajax({
                        url: "@(ViewBag.RootUrl)Back/ArticleTop",
                        data: { id: id, status: status },
                        dataType: "json",
                        success: function (data) {
                            isloading = false;
                            layer.alert(data.message);
                            if (data.result) {
                                window.location.reload();
                            }
                        }
                    });
                }, function () {

                });
                isloading = false;
            })

            //编辑
            $(".btnEdit").click(function () {
                if (isloading) {
                    return;
                }
                isloading = true;
                var id = this.getAttribute("index");
                var typeid = this.getAttribute("typeid");

                $("#articletype").attr("articleid", id);
                $(".ddl_articletype[index=" + typeid + "]").eq(0).trigger("click");
                layer.open({
                    type: 1,
                    skin: 'layui-layer-rim',
                    area: ['300px', '500px'],
                    title: "编辑",
                    content: $('#type')
                });
                isloading = false;
            });

            //编辑
            $("#edit").click(function () {
                if (isloading) {
                    return;
                }
                isloading = true;
                layer.closeAll();
                var id = $("#articletype").attr("articleid")
                var articletype = $("#articletype").attr("index")
                $.ajax({
                    url: "@(ViewBag.RootUrl)Back/ArticleEdit",
                    data: { id: id, articletype: articletype },
                    dataType: "json",
                    success: function (data) {
                        isloading = false;
                        layer.alert(data.message);
                        if (data.result) {
                            window.location.reload();
                        }
                    }
                });
                isloading = false;
            });

            //打赏
            $(".btnRed").click(function () {
                if (isloading) {
                    return;
                }
                isloading = true;
                var id = this.getAttribute("index");
                $("#price").attr("usernumber", id);
                layer.open({
                    type: 1,
                    skin: 'layui-layer-rim',
                    area: ['300px', '300px'],
                    title: "打赏",
                    content: $('#red')
                });
                isloading = false;
            });

            //打赏
            $("#btnRed").click(function () {
                if (isloading) {
                    return;
                }
                isloading = true;
                var price = $("#price").val()
                if (isNaN(price)) {
                    isloading = false;
                    layer.alert("红包金额格式错误");
                    return;
                }
                if (price < 0) {
                    isloading = false;
                    layer.alert("红包金额格式错误");
                    return;
                }
                if (/^\d+(\.\d{1,2})?$/.test(price)) {
                    if (price > 5) {
                        isloading = false;
                        layer.alert("最多打赏5元");
                        return;
                    }
                    price = price * 100;
                } else {
                    isloading = false;
                    layer.alert("红包金额格式错误");
                    return;
                }
                layer.closeAll();
                var number = $("#price").attr("usernumber")
                $.ajax({
                    url: "@(ViewBag.RootUrl)Red/AdminRed",
                    data: { number: number, price: price },
                    dataType: "json",
                    success: function (data) {
                        isloading = false;
                        $("#price").val(0);
                        if (data.result) {
                            layer.alert("成功打赏：" + parseFloat(data.message / 100).toFixed(2) + "元");
                        } else {
                            layer.alert(data.message);
                        }
                    }
                });
                isloading = false;
            });
        });
    </script>
}
