@inherits System.Web.Mvc.WebViewPage
@using EGT_OTA.Models
@section Styles{
    <style type="text/css">
        .summary img {
            width: 20px !important;
            display: inline-block;
        }
    </style>
}
<div>
    <div class="el-card__header">
        <div class="clearfix">
            <p>评论列表(@(ViewBag.RecordCount))</p>
            <div class="el-form-item inline fl">
                <div class="el-form-item__content">
                    <div class="el-input el-input--small">
                        <input id="articlenumber" placeholder="文章编号" size="small" type="text" class="el-input__inner" value="@(ViewBag.articlenumber)">
                    </div>
                </div>
            </div>
            <div class="el-form-item inline fl ml15">
                <div class="el-form-item__content">
                    <div class="el-input el-input--small">
                        <input id="usernumber" placeholder="用户编号" size="small" type="text" class="el-input__inner" value="@(ViewBag.usernumber)">
                    </div>
                </div>
            </div>

            <div class="full fl">
                <button type="button" class="el-button el-button--primary" id="search"><span>查询</span></button>
                <button type="button" class="el-button el-button--default" id="reset"><span>重置</span></button>
            </div>
        </div>
    </div>
    <div class="el-card__body">
        <div class="el-table el-table--fit el-table--border el-table--enable-row-hover el-table--enable-row-transition full f12 tc" style="overflow: auto;">
            <table cellspacing="0" cellpadding="0" border="0" class="el-table__header el-table__body full">
                <thead>
                    <tr>
                        <th class="cell" style="width: 100px;">用户头像</th>
                        <th class="cell" style="width: 150px;">用户昵称(编号)</th>
                        <th class="cell" style="width: 250px;">文章标题(编号)</th>
                        <th class="cell" style="width: 250px;">评论</th>
                        <th class="cell" style="width: 250px;">定位</th>
                        <th class="cell" style="width: 160px;">创建日期</th>
                        <th class="cell" style="width: 100px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var list = ViewBag.List;
                        for (var i = 0; i < list.Count; i++)
                        {
                            var url = list[i].Avatar;
                            if (string.IsNullOrWhiteSpace(url))
                            {
                                url = "http://www.xiaoweipian.com/Images/avatar.png";
                            }
                            else
                            {
                                if (url.IndexOf("_0") >= 0)
                                {
                                    url = url.Replace("_0", "_2");
                                    if (url.ToLower().IndexOf("http://") < 0)
                                    {
                                        url = "http://www.xiaoweipian.com/" + url;
                                    }
                                }
                            }
                        <tr>
                            <td class="cell">
                                <img src="@url" style="width: 60px; height: 60px; border-radius:50px;margin:10px 0px;display: inline-block;">
                            </td>
                            <td>
                                <div class="cell">
                                    <span class="nickname" nickname="@list[i].NickName"></span>
                                    <p class="mb0">(@list[i].CreateUserNumber)</p>
                                </div>
                            </td>
                            <td class="cell">
                                @{
                            var link = ViewBag.RootUrl + "Home/preview.html?key=" + list[i].ArticleNumber + "&xwp=" + ViewBag.xwp;
                                }
                                <a href="@link" class="underline" target="_blank">@list[i].Title</a>
                                <p class="mb0">(@list[i].ArticleNumber)</p>
                            </td>
                            <td class="cell">
                                <div class="summary" summary="@list[i].Summary"></div>
                            </td>
                            <td class="cell">
                                @list[i].Province @list[i].City @list[i].District @list[i].Street @list[i].DetailName
                            </td>
                            <td class="cell">
                                @list[i].CreateDateText
                            </td>
                            <td>
                                <button type="button" class="el-button el-button--primary el-button--small btnDelete" index="@list[i].ID"><span>删除</span></button>
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div id="divPager" align="center" style="margin-top: 30px;"></div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">

        var isloading = false;
        $(document).ready(function () {
            var currentIndex = parseInt(@(ViewBag.CurrPage));
            var recordCount = parseInt(@(ViewBag.RecordCount));
            var pageSize = parseInt(@(ViewBag.PageSize));

            $(".nickname").each(function () {
                this.innerText = base.UnUnicodeText(this.getAttribute("nickname"));
            })

            $(".summary").each(function () {
                $(this).html(base.UnUnicodeText(this.getAttribute("summary")));
            })

            $("#divPager").myPagination({
                currPage: currentIndex,
                pageCount: Math.ceil(recordCount / pageSize),
                pageSize: pageSize,
                links: 'javascript:void(0);',
                cssStyle: 'jogger',
                ajax: {
                    on: false,
                    onClick: function (page) {
                        ZENG.msgbox.show(" 正在加载" + page + "页，请稍后...", 6, 1000);
                        var param = {
                            page: page,
                            rows: pageSize,
                            articlenumber: $("#articlenumber").val().trim(),
                            usernumber: $("#usernumber").val().trim()
                        }
                        window.location.href = "@(ViewBag.RootUrl)" + "Back/Comment?key=@(ViewBag.key)&xwp=@(ViewBag.xwp)&" + $.param(param)
                    }
                }
            });

            $("#search").click(function () {
                var param = {
                    page: 1,
                    rows: pageSize,
                    articlenumber: $("#articlenumber").val().trim(),
                    usernumber: $("#usernumber").val().trim()
                }
                window.location.href = "@(ViewBag.RootUrl)" + "Back/Comment?key=@(ViewBag.key)&xwp=@(ViewBag.xwp)&" + $.param(param)
            })

            $("#reset").click(function () {
                window.location.href = "@(ViewBag.RootUrl)" + "Back/Comment?key=@(ViewBag.key)&xwp=@(ViewBag.xwp)"
            })

            //删除
            $(".btnDelete").click(function () {
                if (isloading) {
                    return;
                }
                isloading = true;
                var id = this.getAttribute("index");

                layer.confirm('确认执行当前操作吗？', {
                    btn: ['确定', '取消']
                }, function () {
                    $.ajax({
                        url: "@(ViewBag.RootUrl)Back/CommentDelete",
                        data: { id: id },
                        dataType: "json",
                        success: function (data) {
                            isloading = false;
                            layer.alert(data.message);
                            if (data.result) {
                                window.location.reload();
                            }
                        }
                    });
                }, function () {

                });
                isloading = false;
            })
        });
    </script>
}
