@using EGT_OTA.Models
@{
    Layout = null;
}
@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta charset="utf-8" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="format-detection" content="telephone = no" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Back/bootstrap.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Back/table.css")"  />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Back/demo.css")"  />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Back/mui.min.css")"  />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Back/cropper/cropper.css")"  />
    <style type="text/css">
        body {
            background: #f5f5f5;
        }

        .tip {
            position: fixed;
            top: 18%;
            left: 35%;
            text-align: center;
            z-index: 2;
        }

            .tip div {
                padding: 10px 20px;
                border-radius: 10px;
                background: rgba(0, 0, 0, 0.5);
                color: #fff;
                display: inline-block;
            }

        .mui-table-view-cell {
            padding: 0.9375rem;
        }

        .mui-icon-arrowright {
            margin-right: -0.3rem;
        }

        .cropper-crop-box {
            z-index: -1;
        }

        #addcomment {
            width: 100%;
            float: left;
            height: 2.8rem;
            line-height: 2.6rem;
            text-align: center;
            position: fixed;
            bottom: 0.5rem;
        }

            #addcomment div {
                width: 90%;
                border-radius: 5px;
                background: #4087cb;
                display: inline-block;
                height: 2.1875rem;
                line-height: 2.1875rem;
            }
    </style>
</head>
<body>
    <div class="full tc">
        <img id="readyimg" class="fl" />
    </div>
    <div style="width: 100%; position: fixed; bottom: 0px; height: 60%; background: rgba(255,255,255,0.5);" class="hide" id="cover">
        <ul class="mui-table-view f13">
            <li class="mui-table-view-cell">
                <div class="flex-box flex-row">
                    <div style="flex: 0 0 80%;" class="flex-item">
                        <p class="c000">开启全屏背景</p>
                    </div>
                    <div style="flex: 0 0 20%;" class="flex-item">
                        <div class="my-switch fr" id="fullSwitch">
                            <div></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="mui-table-view-cell">
                <div class="flex-box flex-row">
                    <div style="flex: 0 0 80%;" class="flex-item">
                        <p class="c000">开启高清背景</p>
                    </div>
                    <div style="flex: 0 0 20%;" class="flex-item">
                        <div class="my-switch fr" id="highSwitch">
                            <div></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="fl f11 full mt20 opacity hide">
            <span class="fl ml15 mt10 c333">透明度:</span>
            <div class="mui-input-row mui-input-range fl ml10" style="clear: none; width: 100%;">
                <input type="range" id='range' value="50" min="0" max="100">
            </div>
        </div>
        <span class="fl f11 blue ml15 mt20 opacity hide">说明:该透明度将会运用到文章详情展示</span>
        <div id="addcomment">
            <div class="f12 cfff" style="cursor:pointer;" onclick="Save()">使用</div>
        </div>
    </div>
    <div class="layui-layer-btn hide" style="position: fixed; top: 10px; left: 110px;" id="btn"><a class="layui-layer-btn0" onclick="Choose()">更换图片</a></div>
    <input type="file" id="inputImage" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff" class="hide">
</body>
</html>
<script src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")"></script>
<script src="@Url.Content("~/Back/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Back/layer/layer.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/mui.min.js")"></script>
<script src="@Url.Content("~/Scripts/base.min.js")"></script>
<script src="@Url.Content("~/Scripts/cropper.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    var id = 0;
    var full = 0;
    var high = 0;
    var transparency = 50;
    var url = "";
    var imgWidth = 0;
    var imgHeight = 0;
    var $readyimg = $('#readyimg');
    var $inputImage = $('#inputImage');
    var uploadedImageType = 'image/jpeg';
    var $cover = base.Get("cover");
    var isLoading = false;
    var isCutImging = false;
    var windowWidth = window.innerWidth;
    var windowHeight = window.innerHeight;
    var UserID = 0;
    var UserNumber = "";
    var ArticleNumber = "";
    $(document).ready(function () {
        var range = base.Get("range");

        range.value = transparency;
        $cover.style.background = "rgba(255, 255, 255, " + ((100 - transparency) / 100) + ")";

        base.SwitchChange("fullSwitch", full > 0);
        base.SwitchChange("highSwitch", high > 0);

        range.addEventListener('input', function () {
            transparency = this.value;
            $cover.style.background = "rgba(255, 255, 255, " + ((100 - this.value) / 100) + ")";
        });

        $("#btn").removeClass("hide");

        $inputImage.change(function () {
            var files = this.files;
            if (files && files.length) {
                var file = files[0];
                if (/^image\/\w+$/.test(file.type)) {
                    uploadedImageType = file.type;
                    if (url) {
                        URL.revokeObjectURL(url);
                    }
                    url = URL.createObjectURL(file);
                    if (!base.IsNullOrEmpty(url)) {
                        if (isCutImging) {
                            $readyimg.cropper('destroy');
                        }
                        var img = new Image();
                        img.src = url;
                        if (img.complete) {
                            CutImg(full);
                        } else {
                            img.onload = function () {
                                CutImg(full);
                            };
                        }
                    }
                    $inputImage.val('');
                }
            }
        });

        //开启全屏背景
        base.Get("fullSwitch").addEventListener('tap', function (event) {
            if (isLoading) {
                return false;
            }
            isLoading = true;
            layer.load();
            var active = base.HasClass(this, "active");
            base.SwitchChange("fullSwitch", !active);
            if (!active) {
                full = 1;
                base.RemoveClass([".opacity"], "hide");
                transparency = 50;
                base.Get("range").value = transparency;
                $cover.style.background = "rgba(255, 255, 255, " + ((100 - transparency) / 100) + ")";
            } else {
                full = 0;
                base.AddClass([".opacity"], "hide");
                transparency = 0;
                base.Get("range").value = transparency;
                $cover.style.background = "rgba(255, 255, 255, " + ((100 - transparency) / 100) + ")";
            }
            var initWidth = windowWidth;
            var initHeight = windowHeight;
            if (full == 0) {
                windowHeight = window.innerHeight * 0.4;
                initWidth = window.innerWidth;
                initHeight = initWidth * imgHeight / imgWidth;
            } else {
                windowHeight = window.innerHeight;
                initHeight = window.innerHeight;
                initWidth = initHeight * imgWidth / imgHeight;
            }
            $readyimg.cropper('destroy');
            $readyimg.cropper({
                minCanvasWidth: initWidth,
                minCanvasHeight: initHeight,
                minContainerWidth: windowWidth,
                minContainerHeight: windowHeight,
                minCropBoxWidth: windowWidth,
                minCropBoxHeight: windowHeight,
                viewMode: 3,
                background: false,
                checkImageOrigin: true,
                modal: false,
                autoCrop: true,
                dragCrop: false,
                zoomable: false,
                movable: true,
                built: function () {
                    if (full == 0) {
                        $(".cropper-canvas").removeClass("full").addClass("nofull");
                    } else {
                        $(".cropper-canvas").removeClass("nofull").addClass("full");
                    }
                    $readyimg.show();
                    isLoading = false;
                }
            });
            layer.closeAll('loading');
        });

        //开启高清背景
        base.Get("highSwitch").addEventListener('tap', function (event) {
            if (base.RepeatAction()) {
                return;
            }
            var active = base.HasClass(this, "active");
            base.SwitchChange("highSwitch", !active);
            if (!active) {
                high = 1;
            } else {
                high = 0;
            }
        });
    });

    function Init(articlenumber, userid, usernumber) {
        ArticleNumber = articlenumber;
        UserID = userid;
        UserNumber = usernumber;
    }

    //更换
    function Choose() {
        return $inputImage.click();
    }

    function Confirm() {
        if (fileId == 0) {
            layer.msg("请选择漂浮");
            return;
        }
        parent.UpdateShowy(src + "|" + count + "|" + snowtype);
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }

    //照片裁剪类(0:不全屏,1:全屏)  
    function CutImg(type) {
        if (isCutImging) {
            $readyimg.cropper('destroy');
        }
        isCutImging = true;
        $readyimg.hide().attr("src", url).load(function () {
            imgWidth = $readyimg.width();
            imgHeight = $readyimg.height();
            var initWidth = windowWidth;
            var initHeight = windowHeight;
            if (full == 0) {
                windowHeight = window.innerHeight * 0.4;
                initWidth = window.innerWidth;
                initHeight = initWidth * imgHeight / imgWidth;
            } else {
                windowHeight = window.innerHeight;
                initHeight = window.innerHeight;
                initWidth = initHeight * imgWidth / imgHeight;
            }
            $readyimg.cropper({
                minCanvasWidth: initWidth,
                minCanvasHeight: initHeight,
                minContainerWidth: windowWidth,
                minContainerHeight: windowHeight,
                minCropBoxWidth: windowWidth,
                minCropBoxHeight: windowHeight,
                viewMode: 3,
                background: false,
                checkImageOrigin: true,
                modal: false,
                autoCrop: true,
                dragCrop: false,
                zoomable: false,
                movable: true,
                built: function () {
                    if (full == 0) {
                        $(".cropper-canvas").removeClass("full").addClass("nofull");
                    } else {
                        $(".cropper-canvas").removeClass("nofull").addClass("full");
                    }
                    $readyimg.show();
                    $cover.classList.remove("hide");
                    base.ShowLoading(false);
                }
            });
        });
    }

    //请求上传图片
    function Upload(imgurl, callback) {
        HttpPost(base.RootUrl + "Upload/Upload", {
            str: imgurl,
            standard: "ArticleCover",
            Number: userinfo.Number
        }, function (data) {
            if (data != null) {
                if (data.result) {
                    if ($.isFunction(callback)) {
                        callback(base.RootUrl + data.message);
                    }
                } else {
                    mui.toast(data.message);
                }
            }
        });
    }

    //请求上传图片
    function Upload(imgurl) {
        layer.load();
        HttpPost("@(ViewBag.RootUrl)Upload/Upload", {
            str: imgurl,
            standard: "ArticleCover",
            Number: UserNumber
        }, function (data) {
            if (data != null) {
                if (data.result) {
                    var model = {
                        ID: UserID,
                        ArticleNumber: ArticleNumber,
                        Full: full,
                        High: high,
                        Transparency: full == 0 ? 0 : transparency,
                        Url: data.message,
                        EditID: id
                    }
                    //保存设置
                    HttpGet("@(ViewBag.RootUrl)Api/Background/Edit", model, function (data) {
                        data = JSON.parse(data);
                        if (data == null) {
                            layer.msg("系统异常,请稍后再试");
                        } else {
                            if (data.result) {
                                if (id == 0) {
                                    parent.Close(JSON.stringify(model));
                                } else {
                                    parent.Load();
                                }
                                parent.layer.close(index);
                            } else {
                                layer.msg(data.message);
                            }
                        }
                        isLoading = false;
                        layer.closeAll('loading');
                    });
                } else {
                    layer.msg(data.message);
                    isLoading = false;
                    layer.closeAll('loading');
                }
            } else {
                layer.msg("系统异常,请稍后再试");
                isLoading = false;
                layer.closeAll('loading');
            }
        });
    }

    function Save() {
        if (isLoading) {
            return;
        }
        isLoading = true;
        var dataURL = $("#readyimg").cropper("getCroppedCanvas");
        imgurl = dataURL.toDataURL("image/jpeg", 1);
        Upload(imgurl);
    }
</script>
