@inherits System.Web.Mvc.WebViewPage
@using EGT_OTA.Models
@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/zTree/zTreeStyle/zTreeStyle.css")" />
    <style type="text/css">
        .swiper-slide {
            width: auto;
            height: auto;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
    </style>
}
<div class="el-card box-card">
    <div class="el-card__header">
        <div class="clearfix">
            <p id="name">文件列表</p>
        </div>
    </div>
    <div class="el-card__body">
        <div class="el-table--fit el-table--border el-table--enable-row-hover el-table--enable-row-transition f12 tc">
            <div style="width: 30%; display: inline-block; float: left;">
                <div class="ztree" id="ItemsTree"></div>
            </div>
            <div style="width: 70%; display: inline-block; float: left;" id="list"></div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="@Url.Content("~/Scripts/jquery.js")"></script>
    <script src="@Url.Content("~/Scripts/zTree/jquery.ztree.core.js")"></script>
    <script type="text/javascript">
        var isloading = false;

        $(document).ready(function () {
            var currentIndex = parseInt(@(ViewBag.CurrPage));
            var recordCount = parseInt(@(ViewBag.RecordCount));
            var pageSize = parseInt(@(ViewBag.PageSize));

            @*$("#divPager").myPagination({
                currPage: currentIndex,
                pageCount: Math.ceil(recordCount / pageSize),
                pageSize: pageSize,
                links: 'javascript:void(0);',
                cssStyle: 'jogger',
                ajax: {
                    on: false,
                    onClick: function (page) {
                        ZENG.msgbox.show(" 正在加载" + page + "页，请稍后...", 6, 1000);
                        var param = {
                            page: page,
                            rows: pageSize,
                            nickname: $("#nickname").val().trim(),
                            usernumber: $("#usernumber").val().trim(),
                            status: $("#status").attr("index"),
                            isrecommend: $("#isrecommend").attr("index"),
                            ispay: $("#ispay").attr("index"),
                            sex: $("#sex").attr("index")
                        }
                        window.location.href = "@(ViewBag.RootUrl)" + "Back/FileList?key=@(ViewBag.key)&xwp=@(ViewBag.xwp)&" + $.param(param)
                    }
                }
            });*@

            $("#search").click(function () {
                var param = {
                    page: 1,
                    rows: pageSize,
                    nickname: $("#nickname").val().trim(),
                    usernumber: $("#usernumber").val().trim()
                }
                window.location.href = "@(ViewBag.RootUrl)" + "Back/FileList?key=@(ViewBag.key)&xwp=@(ViewBag.xwp)&" + $.param(param)
            })

            $("#reset").click(function () {
                window.location.href = "@(ViewBag.RootUrl)" + "Back/FileList?key=@(ViewBag.key)&xwp=@(ViewBag.xwp)"
            })

            GetTree();

            $(".cover").live("click", function () {
                window.open(this.getAttribute("src").replace("_2", "_0"));
            })
        });

        //加载左边树
        var divTree;
        function GetTree() {
            $.ajax({
                url: "@(ViewBag.RootUrl)Back/FileTree",
                dataType: "json",
                success: function (data) {
                    var setting = {
                        view: {
                            expandSpeed: "",
                            titleClickOpenChildren: true,
                            selectedMulti: false
                        },
                        callback: {
                            onClick: zTreeOnClick
                        }
                    };
                    divTree = $.fn.zTree.init($("#ItemsTree"), setting, data.treeNodes);
                }
            });
        }

        function zTreeOnClick(event, treeId, treeNode) {
            var $list = $("#list");
            $list.empty();
            $.ajax({
                url: "@(ViewBag.RootUrl)Back/SubFileTree",
                data: { url: treeNode.fullName },
                dataType: "json",
                success: function (data) {
                    document.body.scrollTop = document.documentElement.scrollTop = 0;
                    $("#name").html("文件列表(" + data.rows.length + ")");
                    $.each(data.rows, function (i, item) {
                        $list.append("<img src=" + item.FullName + " style='width:30%;margin:10px;float:left;' class='cover' />");
                    })
                }
            });
        };
    </script>
}
