@using EGT_OTA.Models
@{
    Layout = null;
}
@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta charset="utf-8" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="format-detection" content="telephone = no" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Back/bootstrap.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Back/table.css")"  />
    <style type="text/css">
       
    </style>
</head>
<body>
    <div id="wrapper">
        <div class="container">
            <div class="row">
                <div class="el-card__header" id="header">
                    <div class="clearfix">
                        <div class="el-form-item full fl">
                            <div class="el-form-item__content full">
                                <div class="el-input el-input--small">
                                    <input id="title" placeholder="请输入地址关键字" size="small" type="text" class="el-input__inner fl" style="width: 49%;">
                                    <input id="location" placeholder="当前定位" size="small" type="text" class="el-input__inner fr" style="width: 49%;">
                                </div>
                            </div>
                        </div>
                        <button type="button" class="el-button el-button--primary fl" onclick="Search()"><span>查询</span></button>
                        <button type="button" class="el-button el-button--success fr" onclick="Submit()"><span>确定</span></button>
                    </div>
                </div>
                <div id="scroll-view" class="mui-table-view" style="width:100%;overflow:hidden;">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")"></script>
<script src="@Url.Content("~/Back/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Back/layer/layer.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/base.min.js")"></script>
<script src="http://webapi.amap.com/maps?v=1.4.1&key=09cab96df346ea0b2d7c2ae63b02772d"></script>
<script src="http://webapi.amap.com/ui/1.0/main.js"></script>
<script type="text/javascript">
    var isloading = false;
    var mapObj = null;
    var cityObj = {};
    var address = null;
    var placeSearch, marker, geocoder;
    var articlenumber = "";
    $(document).ready(function () {
        $("#scroll-view").height(window.innerHeight - $("#header")[0].clientHeight-5);

        mapObj = new AMap.Map('scroll-view', {
            resizeEnable: true,
            zoom: 11
        });

        mapObj.plugin(["AMap.ToolBar", "AMap.OverView", "AMap.PlaceSearch", "AMap.CitySearch", "AMap.Geocoder", "AMap.Autocomplete"], function () {
            placeSearch = new AMap.PlaceSearch;
            AMap.event.addListener(placeSearch, "complete", PlaceSearchCallback);
            AMap.event.addListener(placeSearch, "error", PlaceSearchCallback);

            var citySearch = new AMap.CitySearch;
            marker = new AMap.Marker();
            AMap.event.addListener(citySearch, "complete", function (result) {
                mapObj.setBounds(result.bounds);
            });
            citySearch.getLocalCity();

            //下拉联想搜索
            var autoOptions = {
                city: "", //城市，默认全国
                input: "title"//使用联想输入的input的id
            };
            autocomplete = new AMap.Autocomplete(autoOptions);

            geocoder = new AMap.Geocoder({
                radius: 1000,
                extensions: "all"
            });
        });


        //点击获得坐标
        AMap.event.addListener(mapObj, "click", function (e) {
            GetLocation(e.lnglat.lng, e.lnglat.lat);
        });

        //监听软键盘搜索键
        $("#title").keydown(function (e) {
            if (13 == e.keyCode) {
                if ($("#title").val().trim() == "") {
                    layer.msg("请输入搜索内容！");
                    return false;
                }
                Search();
            }
        });
    });

    //初始化
    function Init(number) {
        articlenumber = number;
    }

    //获取定位详情
    function GetLocation(lng, lat) {
        geocoder.getAddress([lng, lat], function (status, result) {
            if (status === 'complete' && result.info === 'OK') {
                address = {
                    Province: result.regeocode.addressComponent.province,
                    City: result.regeocode.addressComponent.city,
                    District: result.regeocode.addressComponent.district,
                    Street: result.regeocode.addressComponent.township,
                    DetailName: result.regeocode.pois[0].name,
                    CityCode: result.regeocode.addressComponent.citycode,
                    Latitude: parseFloat(lat).toFixed(2),
                    Longitude: parseFloat(lng).toFixed(2)
                }
                $("#location").val(result.regeocode.formattedAddress);
            }
        });
    }

    function PlaceSearchCallback(result) {
        if (result == 'complete') {
            return
        }
        if (result.poiList && result.poiList.pois && result.poiList.pois.length) {
            var poi = result.poiList.pois[0];
            mapObj.setZoomAndCenter(13, poi.location);
            //poi:{"id":"B020705RHH","name":"常州武进汽车客运站","type":"交通设施服务;长途汽车站;长途汽车站","location":{"Q":31.671098,"O":119.96162700000002,"lng":119.961627,"lat":31.671098},"address":"常武中路20号","tel":"0519-86554873;0519-86527280","distance":null,"shopinfo":"0"}
            marker.setTitle([poi.name, poi.address].join(poi.name && poi.address ? "\n" : ""));
            marker.setPosition(poi.location);
            marker.setMap(mapObj);
            GetLocation(poi.location.lng, poi.location.lat);
        }
    }

    function Search() {
        if ($("#title").val().trim() == "") {
            layer.msg("请输入搜索内容！");
            return false;
        }
        placeSearch.search($("#title").val().trim(), PlaceSearchCallback)
    }

    function Submit() {
        if (address != null) {
            parent.UpdateLocation(articlenumber, address.Province, address.City, address.District, address.Street, address.DetailName, address.CityCode, address.Latitude, address.Longitude);
        }
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }
</script>
