@inherits System.Web.Mvc.WebViewPage
@using EGT_OTA.Models
@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/swiper/swiper.min.css")" />
    <style type="text/css">
        .swiper-slide {
            width: auto;
            height: auto;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
    </style>
}
<div class="el-card box-card">
    <div class="el-card__header">
        <div class="clearfix">
            <p>打赏列表(@(ViewBag.RecordCount))</p>
            <div class="el-form-item inline fl">
                <div class="el-form-item__content">
                    <div class="el-input el-input--small">
                        <input id="articlenumber" placeholder="文章编号" size="small" type="text" class="el-input__inner" value="@(ViewBag.articlenumber)">
                    </div>
                </div>
            </div>
            <div class="el-form-item inline fl ml15">
                <div class="el-form-item__content">
                    <div class="el-input el-input--small">
                        <input id="usernumber" placeholder="打赏用户编号" size="small" type="text" class="el-input__inner" value="@(ViewBag.usernumber)">
                    </div>
                </div>
            </div>
            <div class="el-form-item inline fl ml15">
                <div class="el-form-item__content">
                    <div class="el-input el-input--small">
                        <input id="tousernumber" placeholder="被打赏用户编号" size="small" type="text" class="el-input__inner" value="@(ViewBag.tousernumber)">
                    </div>
                </div>
            </div>

            <div class="el-form-item inline fl ml15">
                <label class="el-form-item__label">状态</label>
                <div class="el-form-item__content inline fl">
                    <div class="btn-group">
                        <button id="status" index="-1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width: 160px;">
                            不限
                                                  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu tc">
                            <li><a href="#" onclick="change(-1,'status','不限')" class="ddl_status" index="-1">不限</a></li>
                            <li><a href="#" onclick="change(0,'status','待支付')" class="ddl_status" index="0">待支付</a></li>
                            <li><a href="#" onclick="change(1,'status','已支付')" class="ddl_status" index="1">已支付</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="full fl mt5">
                <button type="button" class="el-button el-button--primary" id="search"><span>查询</span></button>
                <button type="button" class="el-button el-button--default" id="reset"><span>重置</span></button>
            </div>
        </div>
    </div>
    <div class="el-card__body">
        <div class="swiper-container" id="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="el-table el-table--fit el-table--border el-table--enable-row-hover el-table--enable-row-transition f12 tc" style="width: auto;">
                        <table cellspacing="0" cellpadding="0" border="0" class="el-table__header el-table__body">
                            <thead>
                                <tr>
                                    <th class="cell">打赏用户头像</th>
                                    <th class="cell">打赏用户昵称(编号)</th>
                                    <th class="cell">被打赏用户头像</th>
                                    <th class="cell">被打赏用户昵称(编号)</th>
                                    <th class="cell">文章(编号)</th>
                                    <th class="cell">打赏金额(元)</th>
                                    <th class="cell">支付方式</th>
                                    <th class="cell">是否匿名</th>
                                    <th class="cell">状态</th>
                                    <th class="cell">创建日期</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var list = ViewBag.List;
                                    for (var i = 0; i < list.Count; i++)
                                    {
                                        var url = list[i].FromUserAvatar;
                                        if (string.IsNullOrWhiteSpace(url) || url == "undefined")
                                        {
                                            url = "http://www.xiaoweipian.com/Images/avatar.png";
                                        }
                                        else
                                        {
                                            if (url.IndexOf("_0") >= 0)
                                            {
                                                url = url.Replace("_0", "_2");
                                                if (url.ToLower().IndexOf("http://") < 0)
                                                {
                                                    url = "http://www.xiaoweipian.com/" + url;
                                                }
                                            }
                                        }
                                        var url2 = list[i].ToUserAvatar;
                                        if (string.IsNullOrWhiteSpace(url2) || url2 == "undefined")
                                        {
                                            url2 = "http://www.xiaoweipian.com/Images/avatar.png";
                                        }
                                        else
                                        {
                                            if (url2.IndexOf("_0") >= 0)
                                            {
                                                url2 = url.Replace("_0", "_2");
                                                if (url2.ToLower().IndexOf("http://") < 0)
                                                {
                                                    url2 = "http://www.xiaoweipian.com/" + url2;
                                                }
                                            }
                                        }
                                    <tr>
                                        <td class="cell">
                                            <img src="@url" style="width: 60px; height: 60px; border-radius:50px;margin:10px 0px;display: inline-block;">
                                        </td>
                                        <td>
                                            <div class="cell">
                                                <span class="nickname" nickname="@list[i].FromUserName"></span>
                                                <p class="mb0">(@list[i].FromUserNumber)</p>
                                            </div>
                                        </td>
                                        <td class="cell">
                                            <img src="@url2" style="width: 60px; height: 60px; border-radius:50px;margin:10px 0px;display: inline-block;">
                                        </td>
                                        <td>
                                            <div class="cell">
                                                <span class="nickname" nickname="@list[i].ToUserName"></span>
                                                <p class="mb0">(@list[i].ToUserNumber)</p>
                                            </div>
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrWhiteSpace(list[i].Title))
                                            {

                                                var link = ViewBag.RootUrl + "Home/preview.html?key=" + list[i].ArticleNumber + "&xwp=" + ViewBag.xwp;
                                                <div class="cell">
                                                    <a href="@link" class="underline" target="_blank">@list[i].Title</a>
                                                    <p class="mb0">(@list[i].ArticleNumber)</p>
                                                </div>
                                            }
                                        </td>
                                        <td class="cell money" money="@list[i].Price"></td>
                                        <td class="cell">
                                            @EnumBase.GetDescription(typeof(Enum_PayType), @list[i].PayType)
                                        </td>
                                        <td class="cell">
                                            @(list[i].Anony == 1 ? "是" : "否")
                                        </td>
                                        <td class="cell">
                                            @EnumBase.GetDescription(typeof(Enum_Order), @list[i].Status)
                                        </td>
                                        <td class="cell">
                                            @list[i].CreateDate
                                        </td>
                                    </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="divPager" align="center" style="margin-top: 30px;"></div>
    </div>
</div>
@section Scripts{
    <script src="@Url.Content("~/Scripts/swiper/swiper.min.js")"></script>
    <script type="text/javascript">
        var isloading = false;

        window.onload = function () {
            var swiper = new Swiper('#swiper', {
                direction: 'horizontal',
                slidesPerView: 'auto',
                mousewheelControl: false,
                freeMode: true,
                roundLengths: true,
                shortSwipes: false
            });
        };

        $(document).ready(function () {
            $(".ddl_status[index=" + parseInt(@(ViewBag.status)) + "]").eq(0).trigger("click");
            var currentIndex = parseInt(@(ViewBag.CurrPage));
            var recordCount = parseInt(@(ViewBag.RecordCount));
            var pageSize = parseInt(@(ViewBag.PageSize));

            $(".nickname").each(function () {
                this.innerText = base.UnUnicodeText(this.getAttribute("nickname"));
            })

            $(".money").each(function () {
                this.innerText = parseFloat(parseInt(this.getAttribute("money")) / 100).toFixed(2);
            })

            $("#divPager").myPagination({
                currPage: currentIndex,
                pageCount: Math.ceil(recordCount / pageSize),
                pageSize: pageSize,
                links: 'javascript:void(0);',
                cssStyle: 'jogger',
                ajax: {
                    on: false,
                    onClick: function (page) {
                        ZENG.msgbox.show(" 正在加载" + page + "页，请稍后...", 6, 1000);
                        var param = {
                            page: page,
                            rows: pageSize,
                            articlenumber: $("#articlenumber").val().trim(),
                            usernumber: $("#usernumber").val().trim(),
                            tousernumber: $("#tousernumber").val().trim(),
                            status: $("#status").attr("index")
                        }
                        window.location.href = "@(ViewBag.RootUrl)" + "Back/Order?key=@(ViewBag.key)&xwp=@(ViewBag.xwp)&" + $.param(param)
                    }
                }
            });

            $("#search").click(function () {
                var param = {
                    page: 1,
                    rows: pageSize,
                    articlenumber: $("#articlenumber").val().trim(),
                    usernumber: $("#usernumber").val().trim(),
                    tousernumber: $("#tousernumber").val().trim(),
                    status: $("#status").attr("index")
                }
                window.location.href = "@(ViewBag.RootUrl)" + "Back/Order?key=@(ViewBag.key)&xwp=@(ViewBag.xwp)&" + $.param(param)
            })

            $("#reset").click(function () {
                window.location.href = "@(ViewBag.RootUrl)" + "Back/Order?key=@(ViewBag.key)&xwp=@(ViewBag.xwp)"
            })
        });
    </script>
}
