@inherits System.Web.Mvc.WebViewPage
@using EGT_OTA.Models
@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/swiper/swiper.min.css")" />
    <style type="text/css">
        .swiper-slide {
            width: auto;
            height: auto;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
    </style>
}
<div class="el-card box-card">
    <div class="el-card__header">
        <div class="clearfix">
            <p>投稿列表(@(ViewBag.RecordCount))</p>
            <div class="el-form-item inline fl">
                <div class="el-form-item__content">
                    <div class="el-input el-input--small">
                        <input id="articlenumber" placeholder="文章编号" size="small" type="text" class="el-input__inner" value="@(ViewBag.articlenumber)">
                    </div>
                </div>
            </div>
            <div class="el-form-item inline fl ml15">
                <div class="el-form-item__content">
                    <div class="el-input el-input--small">
                        <input id="usernumber" placeholder="用户编号" size="small" type="text" class="el-input__inner" value="@(ViewBag.usernumber)">
                    </div>
                </div>
            </div>

            <div class="el-form-item inline fl ml15">
                <label class="el-form-item__label">审核状态</label>
                <div class="el-form-item__content inline fl">
                    <div class="btn-group">
                        <button id="status" index="-1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width: 160px;">
                            不限
                                                  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu tc">
                            <li><a href="#" onclick="change(-1,'status','不限')" class="ddl_status" index="-1">不限</a></li>
                            <li><a href="#" onclick="change(0,'status','待审核')" class="ddl_status" index="0">待审核</a></li>
                            <li><a href="#" onclick="change(1,'status','已审核')" class="ddl_status" index="1">已审核</a></li>
                            <li><a href="#" onclick="change(2,'status','已删除')" class="ddl_status" index="2">已删除</a></li>
                            <li><a href="#" onclick="change(3,'status','彻底删除')" class="ddl_status" index="3">彻底删除</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="full fl mt5">
                <button type="button" class="el-button el-button--primary" id="search"><span>查询</span></button>
                <button type="button" class="el-button el-button--default" id="reset"><span>重置</span></button>
            </div>
        </div>
    </div>
    <div class="el-card__body">
        <div class="swiper-container" id="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="el-table el-table--fit el-table--border el-table--enable-row-hover el-table--enable-row-transition f12 tc" style="width: auto;">
                        <table cellspacing="0" cellpadding="0" border="0" class="el-table__header el-table__body">
                            <thead>
                                <tr>
                                    <th class="cell">用户头像</th>
                                    <th class="cell">用户昵称(编号)</th>
                                    <th class="cell">标题</th>
                                    <th class="cell">审核状态</th>
                                    <th class="cell">投稿状态</th>
                                    <th class="cell">定位</th>
                                    <th class="cell">创建日期</th>
                                    <th class="cell">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var list = ViewBag.List;
                                    for (var i = 0; i < list.Count; i++)
                                    {
                                        var url = list[i].Avatar;
                                        if (string.IsNullOrWhiteSpace(url) || url == "undefined")
                                        {
                                            url = "http://www.xiaoweipian.com/Images/avatar.png";
                                        }
                                        else
                                        {
                                            if (url.IndexOf("_0") >= 0)
                                            {
                                                url = url.Replace("_0", "_2");
                                                if (url.ToLower().IndexOf("http://") < 0)
                                                {
                                                    url = "http://www.xiaoweipian.com/" + url;
                                                }
                                            }
                                        }
                                    <tr>
                                        <td class="cell">
                                            <img src="@url" style="width: 60px; height: 60px; border-radius:50px;margin:10px 0px;display: inline-block;">
                                        </td>
                                        <td>
                                            <div class="cell">
                                                <span class="nickname" nickname="@list[i].NickName"></span>
                                                <p class="mb0">(@list[i].UserNumber)</p>
                                            </div>
                                        </td>
                                        <td class="cell el-button--text">
                                            @{
                                        var link = ViewBag.RootUrl + "Home/preview.html?key=" + list[i].ArticleNumber + "&xwp=" + ViewBag.xwp;
                                            }
                                            <a href="@link" class="underline" target="_blank">@(string.IsNullOrWhiteSpace(list[i].Title) ? "我的小微篇" : list[i].Title)</a>
                                            <p class="mb0">(@list[i].ArticleNumber)</p>
                                        </td>
                                        <td class="cell">
                                            @EnumBase.GetDescription(typeof(Enum_Status), @list[i].Status)
                                        </td>
                                        <td class="cell">
                                            @EnumBase.GetDescription(typeof(Enum_Submission), @list[i].Submission)
                                        </td>
                                        <td class="cell">
                                            @list[i].Province @list[i].City @list[i].District @list[i].Street @list[i].DetailName
                                        </td>
                                        <td class="cell">
                                            @list[i].CreateDate
                                        </td>
                                        <td class="cell">
                                            @if (list[i].Status == Enum_Status.Audit)
                                            {
                                                <button type="button" class="el-button el-button--success el-button--small btnAudit" index="@list[i].ID"><span>通过审核</span></button>
                                            }
                                            @if (list[i].Status != Enum_Status.Delete)
                                            {
                                                <button type="button" class="el-button el-button--warning el-button--small btnNoAudit" index="@list[i].ID"><span>打回</span></button>
                                            }
                                        </td>
                                    </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="divPager" align="center" style="margin-top: 30px;"></div>
    </div>
</div>
@section Scripts{
    <script src="@Url.Content("~/Scripts/swiper/swiper.min.js")"></script>
    <script type="text/javascript">
        var isloading = false;

        window.onload = function () {
            var swiper = new Swiper('#swiper', {
                direction: 'horizontal',
                slidesPerView: 'auto',
                mousewheelControl: false,
                freeMode: true,
                roundLengths: true,
                shortSwipes: false
            });
        };

        $(document).ready(function () {
            $(".ddl_status[index=" + parseInt(@(ViewBag.status)) + "]").eq(0).trigger("click");

            var currentIndex = parseInt(@(ViewBag.CurrPage));
            var recordCount = parseInt(@(ViewBag.RecordCount));
            var pageSize = parseInt(@(ViewBag.PageSize));

            $(".nickname").each(function () {
                this.innerText = base.UnUnicodeText(this.getAttribute("nickname"));
            })

            $("#divPager").myPagination({
                currPage: currentIndex,
                pageCount: Math.ceil(recordCount / pageSize),
                pageSize: pageSize,
                links: 'javascript:void(0);',
                cssStyle: 'jogger',
                ajax: {
                    on: false,
                    onClick: function (page) {
                        ZENG.msgbox.show(" 正在加载" + page + "页，请稍后...", 6, 1000);
                        var param = {
                            page: page,
                            rows: pageSize,
                            articlenumber: $("#articlenumber").val().trim(),
                            usernumber: $("#usernumber").val().trim(),
                            status: $("#status").attr("index")
                        }
                        window.location.href = "@(ViewBag.RootUrl)" + "Back/RecommendArticle?key=@(ViewBag.key)&xwp=@(ViewBag.xwp)&" + $.param(param)
                    }
                }
            });

            $("#search").click(function () {
                var param = {
                    page: 1,
                    rows: pageSize,
                    articlenumber: $("#articlenumber").val().trim(),
                    usernumber: $("#usernumber").val().trim(),
                    status: $("#status").attr("index")
                }
                window.location.href = "@(ViewBag.RootUrl)" + "Back/RecommendArticle?key=@(ViewBag.key)&xwp=@(ViewBag.xwp)&" + $.param(param)
            })

            $("#reset").click(function () {
                window.location.href = "@(ViewBag.RootUrl)" + "Back/RecommendArticle?key=@(ViewBag.key)&xwp=@(ViewBag.xwp)"
            })

            //通过审核
            $(".btnAudit").click(function () {
                if (isloading) {
                    return;
                }
                isloading = true;
                var id = this.getAttribute("index");
                layer.confirm('确认执行当前操作吗？', {
                    title: "通过审核",
                    btn: ['确定', '取消']
                }, function () {
                    $.ajax({
                        url: "@(ViewBag.RootUrl)Back/RecommendArticleAudit",
                        data: { id: id },
                        dataType: "json",
                        success: function (data) {
                            isloading = false;
                            layer.alert(data.message);
                            if (data.result) {
                                window.location.reload();
                            }
                        }
                    });
                }, function () {

                });
                isloading = false;
            })

            //打回
            $(".btnNoAudit").click(function () {
                if (isloading) {
                    return;
                }
                isloading = true;
                var id = this.getAttribute("index");
                layer.confirm('确认执行当前操作吗？', {
                    title: "打回",
                    btn: ['确定', '取消']
                }, function () {
                    $.ajax({
                        url: "@(ViewBag.RootUrl)Back/RecommendArticleNoAudit",
                        data: { id: id },
                        dataType: "json",
                        success: function (data) {
                            isloading = false;
                            layer.alert(data.message);
                            if (data.result) {
                                window.location.reload();
                            }
                        }
                    });
                }, function () {

                });
                isloading = false;
            })
        });
    </script>
}
