@inherits System.Web.Mvc.WebViewPage
@using EGT_OTA.Models
@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/swiper/swiper.min.css")" />
    <style type="text/css">
        .swiper-slide {
            width: auto;
            height: auto;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
    </style>
}
<div class="el-card box-card">
    <div class="el-card__header">
        <div class="clearfix">
            <p>用户列表(@(ViewBag.RecordCount))</p>
            <div class="el-form-item inline fl mr15">
                <div class="el-form-item__content">
                    <div class="el-input el-input--small">
                        <input id="nickname" placeholder="用户昵称" size="small" type="text" class="el-input__inner" value="@(ViewBag.nickname)">
                    </div>
                </div>
            </div>
            <div class="el-form-item inline fl mr15">
                <div class="el-form-item__content">
                    <div class="el-input el-input--small">
                        <input id="usernumber" placeholder="用户编号" size="small" type="text" class="el-input__inner" value="@(ViewBag.usernumber)">
                    </div>
                </div>
            </div>

            <div class="el-form-item inline fl mr15">
                <div class="el-form-item__content inline fl">
                    <div class="btn-group">
                        <button id="status" index="-1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width: 160px;">
                            用户状态
                                                  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu tc">
                            <li><a href="#" onclick="change(-1,'status','用户状态')" class="ddl_status" index="-1">用户状态</a></li>
                            <li><a href="#" onclick="change(0,'status','待审核')" class="ddl_status" index="0">待审核</a></li>
                            <li><a href="#" onclick="change(1,'status','已审核')" class="ddl_status" index="1">已审核</a></li>
                            <li><a href="#" onclick="change(2,'status','已删除')" class="ddl_status" index="2">已删除</a></li>
                            <li><a href="#" onclick="change(3,'status','彻底删除')" class="ddl_status" index="3">彻底删除</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="el-form-item inline fl mr15">
                <div class="el-form-item__content inline fl">
                    <div class="btn-group">
                        <button type="button" id="isrecommend" index="-1" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width: 160px;">
                            是否推荐
                                                  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu tc">
                            <li><a href="#" onclick="change(-1,'isrecommend','是否推荐')" class="ddl_isrecommend" index="-1">是否推荐</a></li>
                            <li><a href="#" onclick="change(1,'isrecommend','推荐')" class="ddl_isrecommend" index="1">推荐</a></li>
                            <li><a href="#" onclick="change(0,'isrecommend','不推荐')" class="ddl_isrecommend" index="0">不推荐</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="el-form-item inline fl mr15">
                <div class="el-form-item__content inline fl">
                    <div class="btn-group">
                        <button type="button" id="ispay" index="-1" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width: 160px;">
                            是否启用打赏
                                                  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu tc">
                            <li><a href="#" onclick="change(-1,'ispay','是否启用打赏')" class="ddl_ispay" index="-1">是否启用打赏</a></li>
                            <li><a href="#" onclick="change(1,'ispay','启用')" class="ddl_ispay" index="1">启用</a></li>
                            <li><a href="#" onclick="change(0,'ispay','不启用')" class="ddl_ispay" index="0">不启用</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="el-form-item inline fl mr15">
                <div class="el-form-item__content inline fl">
                    <div class="btn-group">
                        <button type="button" id="sex" index="-1" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width: 160px;">
                            性别不限
                                                  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu tc">
                            <li><a href="#" onclick="change(-1,'sex','性别不限')" class="ddl_sex" index="-1">性别不限</a></li>
                            <li><a href="#" onclick="change(1,'sex','男')" class="ddl_sex" index="1">男</a></li>
                            <li><a href="#" onclick="change(2,'sex','女')" class="ddl_sex" index="2">女</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="full fl mt5">
                <button type="button" class="el-button el-button--primary" id="search"><span>查询</span></button>
                <button type="button" class="el-button el-button--default" id="reset"><span>重置</span></button>
            </div>
        </div>
    </div>
    <div class="el-card__body">
        <div class="swiper-container" id="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="el-table el-table--fit el-table--border el-table--enable-row-hover el-table--enable-row-transition f12 tc" style="width: auto;">
                        <table cellspacing="0" cellpadding="0" border="0" class="el-table__header el-table__body">
                            <thead>
                                <tr>
                                    <th class="cell">用户头像</th>
                                    <th class="cell">用户昵称(编号)</th>
                                    <th class="cell">个性签名</th>
                                    <th class="cell">性别</th>
                                    <th class="cell">状态</th>
                                    <th class="cell">是否推荐</th>
                                    <th class="cell">机型</th>
                                    <th class="cell">定位</th>
                                    <th class="cell">登录次数</th>
                                    <th class="cell">创建日期</th>
                                    <th class="cell">上次登录</th>
                                    <th class="cell">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var list = ViewBag.List;
                                    for (var i = 0; i < list.Count; i++)
                                    {
                                        var url = list[i].Avatar;
                                        if (string.IsNullOrWhiteSpace(url) || url == "undefined")
                                        {
                                            url = "http://www.xiaoweipian.com/Images/avatar.png";
                                        }
                                        else
                                        {
                                            if (url.IndexOf("_0") >= 0)
                                            {
                                                url = url.Replace("_0", "_2");
                                                if (url.ToLower().IndexOf("http://") < 0)
                                                {
                                                    url = "http://www.xiaoweipian.com/" + url;
                                                }
                                            }
                                        }
                                    <tr>
                                        @{
                                        var link = ViewBag.RootUrl + "Home/user.html?key=" + list[i].Number;
                                        }
                                        <td class="cell">
                                            <a href="@link" class="underline" target="_blank">
                                                <img src="@url" style="width: 60px; height: 60px; border-radius:50px;margin:10px 0px;display: inline-block;"></a>
                                        </td>
                                        <td>
                                            <div class="cell">
                                                <a href="@link" class="underline" target="_blank"><span class="nickname" nickname="@list[i].NickName"></span></a>
                                                <p class="mb0">(@list[i].Number)</p>
                                            </div>
                                        </td>
                                        <td class="cell">
                                            @list[i].Signature
                                        </td>
                                        <td class="cell">
                                            @EnumBase.GetDescription(typeof(Enum_Sex), @list[i].Sex)
                                        </td>
                                        <td class="cell">
                                            @EnumBase.GetDescription(typeof(Enum_Status), @list[i].Status)
                                        </td>
                                        <td class="cell">
                                            @EnumBase.GetDescription(typeof(Enum_Recommend), @list[i].IsRecommend)
                                        </td>
                                        <td class="cell">
                                            @list[i].PhoneModel
                                        </td>
                                        <td class="cell">
                                            @list[i].Province @list[i].City @list[i].District @list[i].Street @list[i].DetailName
                                        </td>
                                        <td class="cell">
                                            @list[i].LoginTimes
                                        </td>
                                        <td class="cell">
                                            @list[i].CreateDate.ToString("yyyy-MM-dd hh:mm:ss")
                                        </td>
                                        <td class="cell">
                                            @list[i].LastLoginDate.ToString("yyyy-MM-dd hh:mm:ss")
                                        </td>
                                        <td class="cell">
                                            <button type="button" class="el-button el-button--primary el-button--small btnRed" index="@list[i].Number"><span>打赏</span></button>
                                            @if (list[i].IsRecommend != Enum_Recommend.Approved)
                                            {
                                                <button type="button" class="el-button el-button--success el-button--small btnRecommend" index="@list[i].ID"><span>推荐</span></button>
                                            }
                                            @if (list[i].IsRecommend == Enum_Recommend.Approved)
                                            {
                                                <button type="button" class="el-button el-button--warning el-button--small btnNoRecommend" index="@list[i].ID"><span>取消推荐</span></button>
                                            }
                                            @if (list[i].Status == Enum_Deal.Approved)
                                            {
                                                <button type="button" class="el-button el-button--danger el-button--small btnDelete" index="@list[i].ID"><span>冻结</span></button>
                                            }
                                            @if (list[i].Status != Enum_Status.Approved)
                                            {
                                                <button type="button" class="el-button el-button--success el-button--small btnApproved" index="@list[i].ID"><span>激活</span></button>
                                            }
                                            <button type="button" class="el-button el-button--success el-button--small btnLocation" index="@list[i].Number"><span>更新定位</span></button>
                                            <button type="button" class="el-button el-button--success el-button--small btnArticle" index="@list[i].Number"><span>查看文章</span></button>
                                        </td>
                                    </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="divPager" align="center" style="margin-top: 30px;"></div>
    </div>
    <div class="el-form-item fl" id="red" style="display: none; padding: 20px; width: 100%; height: 100%; position: relative;">
        <label class="el-form-item__label">红包</label>
        <div class="el-form-item__content inline fl">
            <div class="btn-group">
                <div class="el-input el-input--small">
                    <input id="price" placeholder="红包金额" size="small" type="text" class="el-input__inner" value="0">
                </div>
            </div>
        </div>
        <p style="font-size: 11px; float: left; margin-top: 10px;">可自定义红包金额，最高5元，填0 随机生成0.1-5元红包</p>
        <button type="button" class="el-button el-button--primary" id="btnRed" style="position: absolute; right: 20px; bottom: 20px;"><span>打赏</span></button>
    </div>
</div>
@section Scripts{
    <script src="@Url.Content("~/Scripts/swiper/swiper.min.js")"></script>
    <script type="text/javascript">
        var isloading = false;

        window.onload = function () {
            var swiper = new Swiper('#swiper', {
                direction: 'horizontal',
                slidesPerView: 'auto',
                mousewheelControl: false,
                freeMode: true,
                roundLengths: true,
                shortSwipes: false
            });
        };

        $(document).ready(function () {
            $(".ddl_status[index=" + parseInt(@(ViewBag.status)) + "]").eq(0).trigger("click");
            $(".ddl_isrecommend[index=" + parseInt(@(ViewBag.isrecommend)) + "]").eq(0).trigger("click");
            $(".ddl_ispay[index=" + parseInt(@(ViewBag.ispay)) + "]").eq(0).trigger("click");
            $(".ddl_sex[index=" + parseInt(@(ViewBag.sex)) + "]").eq(0).trigger("click");

            var currentIndex = parseInt(@(ViewBag.CurrPage));
            var recordCount = parseInt(@(ViewBag.RecordCount));
            var pageSize = parseInt(@(ViewBag.PageSize));

            $(".nickname").each(function () {
                this.innerText = base.UnUnicodeText(this.getAttribute("nickname"));
            })

            $("#divPager").myPagination({
                currPage: currentIndex,
                pageCount: Math.ceil(recordCount / pageSize),
                pageSize: pageSize,
                links: 'javascript:void(0);',
                cssStyle: 'jogger',
                ajax: {
                    on: false,
                    onClick: function (page) {
                        ZENG.msgbox.show(" 正在加载" + page + "页，请稍后...", 6, 1000);
                        var param = {
                            page: page,
                            rows: pageSize,
                            nickname: $("#nickname").val().trim(),
                            usernumber: $("#usernumber").val().trim(),
                            status: $("#status").attr("index"),
                            isrecommend: $("#isrecommend").attr("index"),
                            ispay: $("#ispay").attr("index"),
                            sex: $("#sex").attr("index")
                        }
                        window.location.href = "@(ViewBag.RootUrl)" + "Back/User?key=@(ViewBag.key)&xwp=@(ViewBag.xwp)&" + $.param(param)
                    }
                }
            });

            $("#search").click(function () {
                var param = {
                    page: 1,
                    rows: pageSize,
                    nickname: $("#nickname").val().trim(),
                    usernumber: $("#usernumber").val().trim(),
                    status: $("#status").attr("index"),
                    isrecommend: $("#isrecommend").attr("index"),
                    ispay: $("#ispay").attr("index"),
                    sex: $("#sex").attr("index")
                }
                window.location.href = "@(ViewBag.RootUrl)" + "Back/User?key=@(ViewBag.key)&xwp=@(ViewBag.xwp)&" + $.param(param)
            })

            $("#reset").click(function () {
                window.location.href = "@(ViewBag.RootUrl)" + "Back/User?key=@(ViewBag.key)&xwp=@(ViewBag.xwp)"
            })

            //查看文章
            $(".btnArticle").click(function () {
                window.open("@(ViewBag.RootUrl)" + "Back/Article?key=@(ViewBag.key)&xwp=@(ViewBag.xwp)&usernumber=" + $(this).attr("index"));
            })

            //重新定位
            $(".btnLocation").click(function () {
                var $this = $(this);
                layer.open({
                    id: "map",
                    type: 2,
                    area: ['1000px', '650px'],
                    content: 'Map',
                    title: "用户定位",
                    scrollbar: false,
                    success: function (layero, index) {
                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        iframeWin.Init($this.attr("index"));
                    }
                });
            })

            //推荐
            $(".btnRecommend").click(function () {
                if (isloading) {
                    return;
                }
                isloading = true;
                var id = this.getAttribute("index");

                layer.confirm('确认执行当前操作吗？', {
                    title: "推荐",
                    btn: ['确定', '取消']
                }, function () {
                    $.ajax({
                        url: "@(ViewBag.RootUrl)Back/UserRecommend",
                        data: { id: id },
                        dataType: "json",
                        success: function (data) {
                            isloading = false;
                            layer.alert(data.message);
                            if (data.result) {
                                window.location.reload();
                            }
                        }
                    });
                }, function () {

                });
                isloading = false;
            })

            //取消推荐
            $(".btnNoRecommend").click(function () {
                if (isloading) {
                    return;
                }
                isloading = true;
                var id = this.getAttribute("index");

                layer.confirm('确认执行当前操作吗？', {
                    title: "取消推荐",
                    btn: ['确定', '取消']
                }, function () {
                    $.ajax({
                        url: "@(ViewBag.RootUrl)Back/UserNoRecommend",
                        data: { id: id },
                        dataType: "json",
                        success: function (data) {
                            isloading = false;
                            layer.alert(data.message);
                            if (data.result) {
                                window.location.reload();
                            }
                        }
                    });
                }, function () {

                });
                isloading = false;
            })

            //冻结
            $(".btnDelete").click(function () {
                if (isloading) {
                    return;
                }
                isloading = true;
                var id = this.getAttribute("index");

                layer.confirm('确认执行当前操作吗？', {
                    title: "冻结",
                    btn: ['确定', '取消']
                }, function () {
                    $.ajax({
                        url: "@(ViewBag.RootUrl)Back/UserDelete",
                        data: { id: id },
                        dataType: "json",
                        success: function (data) {
                            isloading = false;
                            layer.alert(data.message);
                            if (data.result) {
                                window.location.reload();
                            }
                        }
                    });
                }, function () {

                });
                isloading = false;
            })

            //激活
            $(".btnApproved").click(function () {
                if (isloading) {
                    return;
                }
                isloading = true;
                var id = this.getAttribute("index");

                layer.confirm('确认执行当前操作吗？', {
                    title: "激活",
                    btn: ['确定', '取消']
                }, function () {
                    $.ajax({
                        url: "@(ViewBag.RootUrl)Back/UserApproved",
                        data: { id: id },
                        dataType: "json",
                        success: function (data) {
                            isloading = false;
                            layer.alert(data.message);
                            if (data.result) {
                                window.location.reload();
                            }
                        }
                    });
                }, function () {

                });
                isloading = false;
            })

            //打赏
            $(".btnRed").click(function () {
                if (isloading) {
                    return;
                }
                isloading = true;
                var id = this.getAttribute("index");
                $("#price").attr("usernumber", id);
                layer.open({
                    type: 1,
                    skin: 'layui-layer-rim',
                    area: ['300px', '300px'],
                    title: "打赏",
                    content: $('#red')
                });
                isloading = false;
            });

            //打赏
            $("#btnRed").click(function () {
                if (isloading) {
                    return;
                }
                isloading = true;
                var price = $("#price").val()
                if (isNaN(price)) {
                    isloading = false;
                    layer.alert("红包金额格式错误");
                    return;
                }
                if (price < 0) {
                    isloading = false;
                    layer.alert("红包金额格式错误");
                    return;
                }
                if (/^\d+(\.\d{1,2})?$/.test(price)) {
                    if (price > 5) {
                        isloading = false;
                        layer.alert("最多打赏5元");
                        return;
                    }
                    price = price * 100;
                } else {
                    isloading = false;
                    layer.alert("红包金额格式错误");
                    return;
                }
                layer.closeAll();
                var number = $("#price").attr("usernumber")
                $.ajax({
                    url: "@(ViewBag.RootUrl)Red/AdminRed",
                    data: { number: number, price: price },
                    dataType: "json",
                    success: function (data) {
                        isloading = false;
                        $("#price").val(0);
                        if (data.result) {
                            layer.alert("成功打赏：" + parseFloat(data.message / 100).toFixed(2) + "元");
                        } else {
                            layer.alert(data.message);
                        }
                    }
                });
                isloading = false;
            });
        });

        //更新定位
        function UpdateLocation(usernumber, province, city, district, street, detailname, citycode, latitude, longitude) {
            var data = {
                UserNumber: usernumber,
                Province: province,
                City: city,
                District: district,
                Street: street,
                DetailName: detailname,
                CityCode: citycode,
                Latitude: parseFloat(latitude).toFixed(2),
                Longitude: parseFloat(longitude).toFixed(2)
            }
            $.ajax({
                url: "@(ViewBag.RootUrl)Back/UserLocation",
                data: data,
                dataType: "json",
                success: function (data) {
                    isloading = false;
                    layer.alert(data.message);
                    if (data.result) {
                        window.location.reload();
                    }
                }
            });
        }
    </script>
}
